<p class="social-media">
    <a  class="social" href="https://github.com/thenerdsuperuser/" target="_blank">
        <i class="fab fa-github fa-lg" title="Check my repos!"></i>
    </a>                            
    <a class="social" href="https://twitter.com/vimoveremacs/" target="_blank">
        <i class="fab fa-twitter fa-lg" title="Check out my tweets!"></i>
    </a>
    <a class="social" href="https://www.linkedin.com/in/parthkrishna1611" target="_blank">
        <i class="fab fa-linkedin-in fa-lg" title="Check out my posts!"></i>
    </a>
    <a class="social" href="mailto:thenerdsuperuser@gmail.com?Subject=Hello%20World" target="_top">
        <i class="far fa-envelope fa-lg" title="moshi moshi"></i>
    </a>
</p>

